/* cabin-regular - latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: url('cabin-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Cabin'), local('Cabin-Regular'),
       url('cabin-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('cabin-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('cabin-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('cabin-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('cabin-v14-latin-regular.svg#Cabin') format('svg'); /* Legacy iOS */
}

/* cabin-500 - latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 500;
  src: url('cabin-v14-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Cabin Medium'), local('Cabin-Medium'),
       url('cabin-v14-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('cabin-v14-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('cabin-v14-latin-500.woff') format('woff'), /* Modern Browsers */
       url('cabin-v14-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('cabin-v14-latin-500.svg#Cabin') format('svg'); /* Legacy iOS */
}

/* cabin-600 - latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  src: url('cabin-v14-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Cabin SemiBold'), local('Cabin-SemiBold'),
       url('cabin-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('cabin-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('cabin-v14-latin-600.woff') format('woff'), /* Modern Browsers */
       url('cabin-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('cabin-v14-latin-600.svg#Cabin') format('svg'); /* Legacy iOS */
}

/* cabin-700 - latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  src: url('cabin-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Cabin Bold'), local('Cabin-Bold'),
       url('cabin-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('cabin-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('cabin-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('cabin-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('cabin-v14-latin-700.svg#Cabin') format('svg'); /* Legacy iOS */
}
